.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4rem;
  background-color: #1e282e;
  color: #a0b4c1;
}

.logo {
  cursor: pointer;
  min-height: 12rem;
  animation-name: spin;
  animation-duration: 8s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  transition-duration: .25s;
  will-change: filter;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.title {
  font-size: 1.8rem;
}

.buttons {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.button {
  cursor: pointer;
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
  outline: none;
  border: 1px solid #243138;
  border-radius: 4px;
  background-color: #0f1417;
  color: #a0b4c1;
  transition-duration: .15s;
  will-change: background-color;
}

.button:hover {
  background-color: #192126;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  
  100% {
    transform: rotate(360deg);
  }
}
